$color-light: #ffffff;
$color-menu: black;
$color-primary: turquoise;
$color-background-banner: linear-gradient(0deg, rgba(203, 203, 203, 1) 31%, rgba(255, 255, 255, 1) 54%);
$color-background-product: rgba(255, 255, 255, 0.3);