// navigation=================================
#header {
    width: 100%;
    background-color: $color-menu;


    .container {
        display: flex;
        justify-content: space-between;

        .logo {
            color: white;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            transition: .3s;
            cursor: pointer;

            &:hover {
                font-size: 1.1em;
            }

            span {
                font-weight: 800;
                color: turquoise;
            }
        }

        // ============================================
        ul {
            display: flex;

            li {
                padding: 1em 0 1em 3em;
                cursor: pointer;

                &:hover a {
                    color: darken(white, 10%);
                }

            }

            a {
                text-decoration: none;
                color: white;
                text-transform: uppercase;
                font-weight: 800;
                letter-spacing: 1px;
            }

        }
    }
}